# Домашняя работа по лекции №6 в которой я абсолютно ничего не понял! :(

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12, 8)

In [2]:
df_gender = pd.read_csv('data/customers_gender_train.csv')
df_gender.head()

   customer_id  gender
0     75562265       0
1     10928546       1
2     69348468       1
3     84816985       1
4     61009479       0

In [18]:
df_transactions_ = pd.read_csv('data/transactions.csv.gz')
df_transactions_.head()

   customer_id tr_datetime  mcc_code  tr_type    amount term_id
0     39026145  0 10:23:26      4814     1030  -2245.92     NaN
1     39026145  1 10:19:29      6011     7010  56147.89     NaN
2     39026145  1 10:20:56      4829     2330 -56147.89     NaN
3     39026145  1 10:39:54      5499     1010  -1392.47     NaN
4     39026145  2 15:33:42      5499     1010   -920.83     NaN

In [4]:
df_tr = pd.read_csv('data/tr_types.csv', sep=';')

In [5]:
df_tr

     tr_type                                     tr_description
0       3200  Плата за предоставление услуг посредством моби...
1       3210  Плата за предоставление отчета по счету карты ...
2       3800  Плата за обслуживание банковской карты (за пер...
3       4000            Плата за получение наличных в Сбербанке
4       4001  Плата за получение наличных в Сбербанке (в дру...
5       4010        Плата за получение наличных в АТМ Сбербанка
6       4011  Плата за получение наличных в АТМ Сбербанка (в...
7       4020  Плата за получение наличных через POS в Сбербанке
8       4021  Плата за получение наличных через POS в Сберба...
9       4030  Плата за взнос наличных через АТМ (в своем тер...
10      4031  Плата за взнос наличных через АТМ (в другом те...
11      4040  Плата за взнос наличных через POS (в своем тер...
12      4041  Плата за взнос наличных через POS (в другом те...
13      4050  Плата за перевод на карту (с карты) через АТМ ...
14      4051  Плата за перевод на карту (с карты) через АТМ ...
15      4052  Плата за перевод на карту (с карты) через АТМ ...
16      4060  Плата за перевод на карту (с карты) через POS ...
17      4061  Плата за перевод на карту (с карты) через POS ...
18      4062  Плата за перевод на карту (с карты) через POS ...
19      4071  Плата за перевод на карту (с карты) через Моби...
20      4080                       Оплата услуг банка через ВСП
21      4081                       Оплата услуг банка через АТМ
22      4082           Оплата услуг банка через Сбербанк ОнЛ@йн
23      4083           Оплата услуг банка по поручению автомат.
24      4100                Плата за получение наличных. Россия
25      4110          Плата за получение наличных в АТМ. Россия
26      4200              Плата за получение наличных. Зарубеж.
27      4210        Плата за получение наличных в АТМ. Зарубеж.
28      4400             Плата за получение баланса в чужом АТМ
29      4440  Плата за получение через АТМ выписки о 10 посл...
..       ...                                                ...
125     2351                Погашение кредита с карты через ВСП
126     2352                Погашение кредита с карты через АТМ
127     2353    Погашение кредита с карты через Сбербанк ОнЛ@йн
128     2354  Погашение кредита с карты по поручению клиента...
129     2370  Списание с карты на карту по операции <перевод...
130     2371  Списание с карты на карту по операции <перевод...
131     2400      Перевод средств с карты на счет клиента в ВСП
132     2401  Перевод средств с карты на счет клиента через АТМ
133     2402  Перевод средств с карты на счет клиента через ...
134     2403  Перевод средств с карты на счет клиента по пор...
135     2410  Перевод с карты на счет др.лица в одном тер. б...
136     2411  Перевод с карты на счет др.лица в одном тер. б...
137     2412  Перевод с карты на счет др.лица в одном тер. б...
138     2413  Перевод с карты на счет др.лица в одном тер. б...
139     2420  Перевод с карты на счет физ.лица в другом тер....
140     2421  Перевод с карты на счет физ.лица в другом тер....
141     2422  Перевод с карты на счет физ.лица в другом тер....
142   999999                                                XXX
143     2423  Перевод с карты на счет физ.лица в другом тер....
144     2430  Перевод с карты на счет физ.лица в другом банк...
145     2431  Перевод с карты на счет физ.лица в другом банк...
146     2432  Перевод с карты на счет физ.лица в другом банк...
147     2433  Перевод с карты на счет физ.лица в другом банк...
148     2900     Выдача наличных средств без предъявления карты
149     2901  Безналичное списание денежных средств со счета...
150     2990                             Списание по требованию
151     2992  Списание средств для погашения задолженности п...
152     3001            Комиссия за обслуживание ссудного счета
153     3030  Плата за обслуживание банковской карты (за пос...
154     3120                Плата за досрочный перевыпуск карты

[155 rows x 2 columns]

In [7]:
df_mcc = pd.read_csv('data/tr_mcc_codes.csv', sep=';')

In [8]:
df_mcc

     mcc_code                                    mcc_description
0         742                                Ветеринарные услуги
1        1711  Генеральные подрядчики по вентиляции, теплосна...
2        1731                        Подрядчики по электричеству
3        1799  Подрядчики, специализированная торговля — нигд...
4        2741           Разнообразные издательства/печатное дело
5        3000                            Авиалинии, авиакомпании
6        3351                    Агентства по аренде автомобилей
7        3501                     Жилье — отели, мотели, курорты
8        4111  Транспортировка — пригородные и локальные сезо...
9        4112                    Пассажирские железные перевозки
10       4121                                   Лимузины и такси
11       4131                                   Автобусные линии
12       4214  Агентства по автотранспортным перевозкам, мест...
13       4215  Услуги курьера — по воздуху и на земле, агентс...
14       4411                                     Круизные линии
15       4511  Авиалинии, авиакомпании, нигде более не класси...
16       4722   Туристические агентства и организаторы экскурсий
17       4784                 Дорожный и мостовой сборы, пошлины
18       4789  Услуги по транспортировке — нигде более не кла...
19       4812  Телекоммуникационное оборудование, включая про...
20       4814  Звонки с использованием телефонов, считывающих...
21       4816            Компьютерная сеть/информационные услуги
22       4829                                  Денежные переводы
23       4899    Кабельные и другие платные телевизионные услуги
24       4900  Коммунальные услуги — электричество, газ, сани...
25       5013                  Поставщики грузовиков и запчастей
26       5039  Строительные материалы — нигде более не класси...
27       5044  Офисное, фотографическое, фотокопировальное, и...
28       5045  Компьютеры, периферийное компьютерное оборудов...
29       5047  Стоматологическое/лабороторное/медицинское/офт...
..        ...                                                ...
154      7832                                         Кинотеатры
155      7841                                        Видеопрокат
156      7922                 Театральные продюсерские агентства
157      7932                                     Билльярд-клубы
158      7933                                      Боулинг-клубы
159      7991                    Туристические аттракционы и шоу
160      7993                        Принадлежности для видеоигр
161      7994                        Галереи/учреждения видеоигр
162      7995                       Транзакции по азартным играм
163      7996  Луна-парки, карнавалы, цирки, предсказатели бу...
164      7997  Клубы — сельские клубы, членство(спортивный, о...
165      7999     Услуги отдыха, нигде ранее не классифицируемые
166      8011           Доктора, нигде ранее не классифицируемые
167      8021                             Дантисты, ортодонтисты
168      8043                   Оптика, оптические товары и очки
169      8062                                           Больницы
170      8071                   Зубные и медицинские лаборатории
171      8099  Практикующие врачи, медицинские услуги, нигде ...
172      8220  Колледжи, университеты, профессиональные школы...
173      8244                        Школы — бизнес и секретарей
174      8299                             Образовательные услуги
175      8398  Организации благотворительные и общественные с...
176      8641    Ассоциации — гражданские, социальные и братские
177      8699  Организации, членства, нигде ранее не классифи...
178      8999  Профессиональные услуги, нигде ранее не класси...
179      9211  Судовые выплаты, включая алименты и детскую по...
180      9222                                             Штрафы
181      9311                                  Налоговые платежи
182      9399  Правительственные услуги, нигде ранее не класс...
183      9402             Почтовые услуги — только правительство

[184 rows x 2 columns]

In [9]:
from pandas import Timestamp, DateOffset

In [ ]:
def preproc_transactions(df_transactions):
    sec_per_day = 86400
    sec_per_hour = 3600
    
    start_date = 1420070400 - 154 * sec_per_day - 3 * sec_per_hour
    
    df_transactions.loc[:, 'day'] = df_transactions["tr_datetime"]\
                                               .str.split(' ')\
                                               .str.get(0)\
                                               .astype(int)
    df_transactions.loc[:, 'time_raw'] = df_transactions["tr_datetime"]\
                                                    .str.split(' ')\
                                                    .str.get(1)

    # set temp dt
    df_transactions.loc[:, 'dt_temp'] = pd.to_datetime(df_transactions.loc[:, 'time_raw'], 
                                                    format='%H:%M:%S')\
                                        + DateOffset(years=115)
    
    df_transactions = df_transactions.assign(dt = lambda x: x.dt_temp.astype(np.int64) // 10**9
                                             + (x.day - 153) * sec_per_day)\
                                     .assign(weekday = lambda x: ((x.day + 4) % 7 + 1))
        
    df_transactions.loc[:, 'datetime'] = pd.to_datetime(df_transactions.dt, unit='s')
    df_transactions.loc[:, 'date'] = df_transactions.loc[:, 'datetime'].dt.strftime('%Y-%m-%d')
    df_transactions.loc[:, 'hour'] = df_transactions.loc[:, 'datetime'].dt.strftime('%H')
    
    df_transactions = df_transactions.drop(['dt_temp', 'time_raw', 'tr_datetime'], axis=1)
    
    df_transactions.loc[:, 'amount'] = np.round(df_transactions.loc[:, 'amount']/(np.pi**np.exp(1)))
            
    return df_transactions

In [19]:
df_transactions = df_transactions_.pipe(preproc_transactions)

In [20]:
df_transactions.head()

,customer_id,mcc_code,tr_type,amount,term_id,day,dt,weekday,datetime,date,hour
0,39026145,4814,1030,-100.0,NaN,0,1406888606,5,2014-08-01 10:23:26,2014-08-01,10
1,39026145,6011,7010,2500.0,NaN,1,1406974769,6,2014-08-02 10:19:29,2014-08-02,10
2,39026145,4829,2330,-2500.0,NaN,1,1406974856,6,2014-08-02 10:20:56,2014-08-02,10
3,39026145,5499,1010,-62.0,NaN,1,1406975994,6,2014-08-02 10:39:54,2014-08-02,10
4,39026145,5499,1010,-41.0,NaN,2,1407080022,7,2014-08-03 15:33:42,2014-08-03,15

In [373]:
def gen_features(gen_features, df_transactions, df_mcc, df_tr):
#     regex = 'магазины|Универмаги|Аксессуары|одежда|обувь|для дома|общего назначения'
#     df_mcc_tmp = df_mcc.copy()
#     df_mcc_tmp.loc[:,'shopping'] = df_mcc['mcc_description'].str.contains(regex)

#     df_featchers = df_transactions.join(df_mcc_tmp, on='mcc_code', how='left')
#     return df_featchers
#     df_mcc_counts = df_transactions.pivot_table(
#             index=['customer_id'], columns=['mcc_code'], values='amount', 
#             aggfunc=np.size, fill_value=0)
#     df_mcc_counts = df_mcc_counts.rename(lambda x: 'mcc_{}_count'.format(x), axis=1)
    
#     df_mcc_counts = df_mcc_counts.rename(lambda x: 'mcc_{}_count'.format(x), axis=1) 
#     df_mcc_counts.loc[:,'shopping'] = df_mcc['mcc_description'].str.contains(regex)
#     return df_mcc_tmp
#     Взнос наличных
#     Выдача наличных
#     Наличные
#     Оплата услуг
#     Оплата услуги
#     Перевод на карту
#     Перевод с карты на карту
#     Перевод средств с карты
#     Перевод/пополнение со счета на карту
#     Платеж с карты
#     Списание с карты

#     regex_tr = 'Оплата|Наличные|наличных|Перевод|пополнение|Платеж|Списание с карты'
#     df_tr_tmp =  df_tr[df_tr['tr_description'].str.contains(regex_tr) == True]

    df_tr_counts = df_transactions\
        .pivot_table(
            index=['customer_id'], columns=['tr_type'], values='amount', 
            aggfunc=np.size, fill_value=0)
        
    df_tr_counts = df_tr_counts.rename(lambda x: 'tr_{}_count'.format(x), axis=1)
    
    
    df_weekday_rations = \
        df_transactions.pivot_table(index=['customer_id'], columns='weekday', values='amount', 
                             aggfunc=np.size, fill_value=0)
    
    total = df_weekday_rations.sum(axis=1)
    df_weekday_rations.loc[:, 'saturday'] = (df_weekday_rations.iloc[:, 5:6].sum(axis=1).T/total).T
    df_weekday_rations.loc[:, 'sunday'] = (df_weekday_rations.iloc[:, 6:7 ].sum(axis=1).T/total).T
    df_weekday_rations.loc[:, 'friday'] = (df_weekday_rations.iloc[:, 4:5].sum(axis=1).T/total).T
    df_weekday_rations.loc[:, 'weekdays'] = (df_weekday_rations.iloc[:, :4].sum(axis=1).T/total).T
    
    df_features = df_gender.join(df_weekday_rations.loc[:, ['saturday', 'sunday', 'friday', 'weekdays']], on='customer_id', how='left')\
                         .join(df_tr_counts, on='customer_id', how='left')\
#                          .join(df_mcc_counts, on='customer_id', how='left')\
#                          .join(df_mcc_tmp, on='customer_id', how='left')\
        
    return df_features

In [374]:
df_features = df_gender.pipe(gen_features, df_transactions, df_mcc, df_tr)

In [375]:
df_features

,customer_id,gender,saturday,sunday,friday,weekdays,tr_1000_count,tr_1010_count,tr_1030_count,tr_1100_count,...,tr_7040_count,tr_7041_count,tr_7044_count,tr_7070_count,tr_7071_count,tr_7074_count,tr_7075_count,tr_8100_count,tr_8145_count,tr_8146_count
0,75562265,0,0.110759,0.123418,0.189873,0.575949,0,3,200,0,...,0,0,0,8,6,0,1,0,0,0
1,10928546,1,0.102351,0.107884,0.156293,0.633472,0,70,91,2,...,0,0,0,1,5,0,0,0,0,0
2,69348468,1,0.130137,0.127854,0.173516,0.568493,0,138,23,9,...,0,0,0,4,0,0,0,0,0,0
3,84816985,1,0.144330,0.103093,0.061856,0.690722,0,33,16,0,...,0,0,0,4,0,0,0,0,0,0
4,61009479,0,0.123142,0.106157,0.159236,0.611465,0,63,42,36,...,0,0,0,34,8,0,0,0,0,0
5,74045822,0,0.114458,0.126506,0.162651,0.596386,0,24,20,7,...,0,0,0,4,3,0,0,0,0,0
6,27979606,1,0.183007,0.143791,0.143791,0.529412,0,87,35,0,...,0,0,0,1,0,0,0,0,0,0
7,54129921,0,0.107143,0.085165,0.175824,0.631868,0,19,146,3,...,0,0,0,0,1,0,0,0,0,0
8,23160845,0,0.180583,0.114563,0.151456,0.553398,0,98,62,0,...,0,0,0,3,4,0,0,0,0,0
9,44160317,1,0.110723,0.131702,0.135198,0.622378,0,226,27,1,...,0,0,0,5,0,0,0,0,0,0
10,45646491,0,0.107656,0.136364,0.131579,0.624402,0,96,146,0,...,0,0,0,4,0,0,0,0,0,0
11,36008593,0,0.064516,0.021505,0.322581,0.591398,0,1,21,0,...,0,0,0,2,0,0,0,0,0,0
12,48111232,1,0.048576,0.060302,0.214405,0.676717,0,34,160,0,...,0,0,0,13,3,0,0,0,0,0
13,37245184,0,0.200000,0.066667,0.166667,0.566667,0,0,8,0,...,0,0,0,2,0,0,0,0,0,0
14,82609845,0,0.084906,0.114780,0.150943,0.649371,0,147,19,26,...,0,0,0,41,12,0,0,0,0,0
15,60046355,1,0.174118,0.145882,0.129412,0.550588,0,40,114,64,...,0,0,0,1,0,0,0,0,0,0
16,96751727,0,0.234973,0.098361,0.103825,0.562842,0,41,15,1,...,0,0,0,9,1,0,0,0,0,0
17,83715039,0,0.111570,0.092975,0.157025,0.638430,0,81,28,11,...,0,0,0,57,0,0,0,0,0,0
18,67480620,0,0.144016,0.139959,0.160243,0.555781,0,144,172,0,...,0,0,0,2,0,0,0,0,0,0
19,67193294,0,0.141869,0.115917,0.128028,0.614187,0,66,154,96,...,0,0,0,5,26,0,0,0,0,0
20,92766561,1,0.072222,0.150000,0.133333,0.644444,0,31,36,0,...,0,0,0,9,0,0,0,0,0,0
21,74041795,0,0.150000,0.095652,0.147826,0.606522,0,199,71,6,...,0,0,0,1,0,0,0,0,0,0
22,19635150,1,0.146809,0.131915,0.144681,0.576596,0,141,66,9,...,0,0,0,0,0,0,0,0,0,0
23,24825702,1,0.130751,0.094431,0.186441,0.588378,0,97,75,0,...,0,0,0,1,0,0,0,0,0,0
24,5689927,0,0.067708,0.088542,0.197917,0.645833,0,20,11,0,...,0,0,0,9,0,0,0,0,0,0
25,13868306,1,0.116919,0.090784,0.177442,0.614856,0,114,128,11,...,0,0,0,7,3,0,0,0,0,1
26,17038281,0,0.171924,0.121451,0.141956,0.564669,0,162,68,5,...,0,1,0,0,1,0,0,0,0,0
27,1133595,0,0.167339,0.097782,0.168347,0.566532,0,283,76,1,...,0,0,0,253,3,0,0,0,0,0
28,34174139,0,0.115152,0.084848,0.145455,0.654545,0,26,8,11,...,0,0,0,2,5,0,0,0,0,0
29,46890366,0,0.100363,0.056564,0.195334,0.647739,0,2,8616,1,...,0,0,0,38,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11970,42121528,1,0.137124,0.117057,0.137124,0.608696,0,35,54,1,...,0,0,0,7,0,0,0,0,0,0
11971,76770632,1,0.082534,0.072937,0.165067,0.679463,0,2,51,72,...,0,0,0,193,0,0,0,0,0,0
11972,38791997,1,0.136364,0.123824,0.175549,0.564263,0,174,91,15,...,0,0,0,2,0,0,0,0,0,0
11973,94098171,0,0.106667,0.097778,0.146667,0.648889,0,45,38,43,...,0,0,0,1,3,0,0,0,0,0
11974,68428886,1,0.060870,0.026087,0.139130,0.773913,0,0,40,0,...,0,0,0,0,0,0,0,0,0,0
11975,74975576,0,0.233871,0.107527,0.137097,0.521505,0,129,69,0,...,0,0,0,0,0,0,0,0,0,0
11976,99100618,0,0.080000,0.061818,0.123636,0.734545,0,6,80,0,...,0,0,0,3,15,0,0,0,0,0
11977,14736748,0,0.125000,0.086957,0.211957,0.576087,0,3,50,5,...,0,0,0,1,0,0,0,0,0,0
11978,86806590,1,0.122449,0.163265,0.224490,0.489796,0,0,13,0,...,0,0,0,0,0,0,0,0,0,0
11979,79743129,1,0.132890,0.169435,0.182724,0.514950,0,15,165,15,...,0,0,0,0,0,0,0,0,0,0
11980,88679468,1,0.205128,0.230769,0.128205,0.435897,0,15,37,0,...,1,0,0,0,0,0,0,0,0,0
11981,18780719,0,0.175058,0.172734,0.142525,0.509682,0,464,118,1,...,0,0,0,49,0,0,0,0,0,0
11982,97087179,0,0.000000,0.333333,0.000000,0.666667,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11983,52175576,1,0.115578,0.130653,0.120603,0.633166,0,16,74,0,...,0,0,0,0,0,0,0,0,0,0
11984,8903486,0,0.150000,0.150000,0.156250,0.543750,0,74,37,0,...,0,0,0,1,0,0,0,0,0,0
11985,89647691,0,0.172185,0.076159,0.145695,0.605960,0,45,102,28,...,0,0,0,7,3,0,0,0,0,0
11986,53818229,1,0.131714,0.121483,0.158568,0.588235,0,103,167,2,...,0,0,0,42,13,0,0,0,0,0
11987,26909439,1,0.113402,0.159794,0.144330,0.582474,0,8,72,0,...,0,0,0,0,0,0,0,0,0,0
11988,88924303,0,0.122449,0.091837,0.122449,0.663265,0,4,86,0,...,0,0,0,30,1,0,0,0,0,0
11989,71829751,0,0.153846,0.153846,0.230769,0.461538,0,0,4,0,...,0,0,0,3,0,0,0,0,0,0
11990,49219375,0,0.080000,0.040000,0.320000,0.560000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11991,75028202,1,0.082386,0.107955,0.167614,0.642045,0,43,84,5,...,0,0,0,6,4,0,0,0,0,0
11992,24214494,1,0.146718,0.131274,0.135135,0.586873,0,91,87,7,...,0,0,0,15,0,0,0,0,0,0
11993,28118312,0,0.164818,0.128368,0.174326,0.532488,0,95,78,1,...,0,0,0,96,1,0,0,0,0,0
11994,80112107,0,0.159875,0.109718,0.112853,0.617555,0,51,72,0,...,0,0,0,4,0,0,0,0,0,0
11995,90417572,0,0.040323,0.051075,0.295699,0.612903,0,1,249,0,...,0,0,0,0,0,0,0,0,0,0
11996,66837341,0,0.089636,0.138655,0.159664,0.612045,0,315,24,10,...,0,0,0,50,2,0,0,0,0,0
11997,10758984,1,0.146199,0.140351,0.134503,0.578947,0,11,13,0,...,0,0,0,0,0,0,0,0,0,0
11998,11376556,0,0.093333,0.106667,0.173333,0.626667,0,6,2,0,...,0,0,0,3,0,0,0,0,0,0
11999,29190649,0,0.065217,0.108696,0.173913,0.652174,0,1,55,1,...,0,0,0,1,2,0,0,0,0,0

In [398]:
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import cross_val_score
from hyperopt import fmin, tpe, hp, Trials, STATUS_OK, rand

from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import OneHotEncoder, StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedKFold

In [399]:
label = 'gender'
RND_SEED = 123
idx_features = df_features.columns != label

In [400]:
X = df_features.loc[:, idx_features].values
y = df_features.loc[:, ~idx_features].values.flatten()

In [401]:
def run_trials_template(X, y, params, evals=100):

    def hyperopt_cv(X, y, params):
        
        X_ = X.copy()
        
        # Отделяем параметры лог регрессии в отдельный словарь
        lm_params = {}
        for k, v in params.items():
            if k.startswith('glob'):
                continue                
            elif k.startswith('lm'):
                lm_params[k.split('_', 1)[1]] = v
        
        # Задаем шкалирование
        if params['scaler_type'] == 'standart':
            scaler = StandardScaler(with_mean=params['scaler_centering'])
        else:
            assert params['scaler_type'] == 'robust'
            scaler = RobustScaler(with_centering=params['scaler_centering'])
        
        # Создаем лог рег с нужными параметрами
        clf = LogisticRegression(**lm_params)
        
        # Итоговый пайплайн
        model = Pipeline([
            ('scaler', scaler),
            ('clf', clf)
        ])

        # Схема кросс-валидации
        n_splits = 5
        cv = StratifiedKFold(n_splits=n_splits, shuffle=True, 
                             random_state=RND_SEED)
        scores = cross_val_score(model, X_, y,
                                 scoring='roc_auc', 
                                 cv=cv, 
                                 n_jobs=-1)

        # Возвращаем среднее значение метрики и отклонение (на всякий случай)
        return scores.mean(), scores.std()

    def f(params):
        acc, std = hyperopt_cv(X, y, params)
        return {'loss': -acc, 'qscore': -acc, 'qscore_std': std, 'status': STATUS_OK}

    trials = Trials()
    best = fmin(f, 
                params, 
                algo=tpe.suggest, 
                max_evals=evals, 
                trials=trials, 
                verbose=1)
    
    return trials

In [402]:
# Задаем пространство поиска
space4_lm = {
    'lm_penalty': hp.choice('penalty', ['l1', 'l2']),
    'lm_C': hp.loguniform('C', -5, 3),
    'lm_class_weight': hp.choice('class_weight', [None, 'balanced']),
    'lm_random_state': RND_SEED,
    'scaler_type': hp.choice('scaler_type', ['standart', 'robust']),
    'scaler_centering': hp.choice('scaler_centering', [False, True])
}

In [403]:
trials = run_trials_template(X, y, space4_lm, evals=40)

In [404]:
def trials_df(trials):
    '''
    Функция форматирует результаты hyperopt в dataframe
    '''
    tr_dict = []
    for t in trials:
        trial = dict()
        for k, v in t['misc']['vals'].items():
            trial[k] = v[0]

        trial['qscore'] = -t['result']['qscore']
        trial['qscore_std'] = -t['result']['qscore_std']
        tr_dict.append(trial)

    df_res = pd.DataFrame.from_dict(tr_dict)
    df_res = df_res.sort_values('qscore', ascending=False)
    
    return df_res

In [405]:
df_trials = trials_df(trials)

In [407]:
# что-то посчитало и не упало. Я хз, ну хоть не упало и на том спасибо.

In [406]:
df_trials.head()

,C,class_weight,penalty,qscore,qscore_std,scaler_centering,scaler_type
28,0.113750,1,0,0.629355,-0.010612,0,1
32,0.125941,1,0,0.629353,-0.010570,0,1
29,0.120338,1,0,0.629349,-0.010564,0,1
27,0.094174,1,0,0.629256,-0.010703,0,1
0,0.215682,0,0,0.629162,-0.010488,0,1